
  @import url('https://fonts.googleapis.com/css?family=Roboto');


  body {
    margin: 5%;
    color: white;
    font-family: "Gill Sans", sans-serif;
    height:700px;
  }

  .navbar < ul {
    text-decoration:none;
  }

  .navbar {
    border: 0;
    border-radius: 0;
    background: linear-gradient(to right, #ff5858, #f857a6);
    nav li > a, .navbar-brand {
      
      max-height: 50px;
      width: auto;
      background: transparent !important;
      font-size: 18px;
      transition: 0.2s ease-in-out;
      display: inline-block;
      .navbar:hover{
        background-color: rgba(255,255,255,0.2);
        font-size: 14px;
        .link {
          width: 100%;
          padding: 0 5px 0 5px;
          visibility: visible;
          font-size: 14px;
        }
      }
    }
    .link {
      width: 0;
      font-family: 'Roboto', sans-serif;
      transition: 0.2s ease-in-out;
      visibility: hidden;
      font-size: 0px;
    }
    span {
      color: white;
    }
    .navbar-toggle {
      padding-right: 0;
      .icon-bar {
        background: white;
      }
    }
    .navbar-collapse {
      display: none;
    }
    button {
      background: transparent;
    }
    button[type=submit] {
      padding-right: 0;
      span {
        transition: 0.3s ease-in-out;
      }
      &:hover {
        span {
          transform: scale(1.3) rotate(90deg);
        }
      }
    }
    form {
      padding: 0;
      .form-control {
        border: 0;
        border-radius: 0;
        color: black;
        font-weight: bold;
        background: rgba(255,255,255,0.7);
        transition: 0.2s ease-in-out;
        hover {
          background: white;
        }
      }
    }
      .open {
        background-color: rgba(255, 255, 255, 0.2);
        font-size: 14px;
        .link {
          width: 100%;
          visibility: visible;
          font-size: 14px;
          padding: 0 5px 0 5px;
        }
        .fa-caret-down {
          transform: rotate(180deg);
        }
      }
      
        }
        a {
          padding: 0 15px 0 15px;
        }
      } 
    }
  }
  
  // Small Devices
  @media(max-width: 769px) {
    .navbar {
      .link {
        padding-left: 10px;
        visibility: visible;
        width: 100%;
        font-size: 14px;
      }
      .navbar-brand {
        .link {
          visibility: hidden;
        }
      }
    }

    button[type=submit] {
      width: 50%;
      float: left;
    }
    .navbar-form {
      border: 0;
    }
    .form-group {
      padding: 0;
      margin: 0;
      input {
        width: 50%;
        float: left
      }
    }
  